{
    admin 0.0.0.0:2019
    email admin@domain.tld
}

git.domain.tld {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    reverse_proxy gitea-server:3000

}

homepage.domain.tld {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    reverse_proxy homepage-server:3000

}

lldap.domain.tld {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    reverse_proxy lldap-server:17170

}

ldaps.domain.tld {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    reverse_proxy lldap-server:636

}

cdio.domain.tld {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    reverse_proxy changedetection:5000

}

search.domain.tld {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    reverse_proxy searxng:8080

}

safe.domain.tld {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    reverse_proxy gluetun-proxy:3000

}